extends ../shared/template
block content
  h1 Welcome to Play Hangman
  .col-xs-6
    img.img-responsive.thumbnail.alien(src='http://static3.gamespot.com/uploads/square_medium/mig/5/2/8/2/1005282-964572_20090912_007.jpg')
  .col-xs-6
    form(action='/game', method='get')
      .form-group
        label Name
        input(type='text', name='name')
      .form-group
        button.btn.btn-primary(type='submit') Start
